<template>
  <div>
    <h1>{{ username }}</h1>
  </div>
</template>

<script>
export default {
  name: 'TweetProfile',
  props: ['username']
}
</script>

<style scoped>
.tweets {
  padding-left: 20px;
  padding-right: 5px;
}
</style>
