<template>
  <div>
    <div v-if="edit" class="tweet-form">
      <textarea rows="4" placeholder="What's happening?" class="tweet-input" v-model="tweet"></textarea>
      <button class="tweet-button" @click="$emit('submit-tweet', tweet),submitForm">Tweet</button>
    </div>
    <div v-else class="tweet-form-disabled">
      <textarea rows="1" placeholder="What's happening?" class="tweet-input-disabled" @click="openTweetForm"></textarea>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TweetInput',
  data() {
    return {
      edit: false,
      tweet: ''
    }
  },
  methods: {
    openTweetForm() {
      this.edit = !this.edit
    },
    submitForm() {
      console.log('hey')
      this.edit = false
      this.tweet = null
    }
  }
}
</script>

<style scoped>
.tweet-form,
.tweet-form-disabled {
  max-width: 650px;
  margin: 0 auto;
}
.tweet-button {
  font-size: 0.8em;
  font-weight: bold;
  color: #fff;
  border: 2px solid orange;
  padding: 10px;
  border-radius: 50px;
  background: moccasin;
}
.tweet-input,
.tweet-input-disabled {
  padding: 8px;
  font-size: 0.75em;
  outline: none;
  width: 100%;
  border-radius: 5px;
  border: 1px solid orange;
}
.tweet-input-disabled {
  border: 1px solid #ddd;
}
.tweet-input-disabled,
.tweet-input-disabled::placeholder {
  color: orange;
}
</style>
