<template>
  <div>
    <ul class="tweets">
      <li v-for="tweet in tweets" :key="tweet.id" class="tweet-content">
        <div class="tweet-author">
          <p class="tweet-user">{{ tweet.username }}</p>
          <p>@{{ tweet.handle }}</p>
        </div>
        <p class="tweet-text">
          {{ tweet.text }}
        </p>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'TweetFeed',
  props: ['tweets']
}
</script>

<style scoped>
.tweets {
  padding-left: 20px;
  padding-right: 5px;
}
.tweet-content {
  background: #fff;
  max-width: 650px;
  margin: 0 auto;
  list-style: none;
  margin-bottom: -15px;
}
.tweet-author {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}
.tweet-user {
  margin-right: 15px;
  font-weight: bold;
}
.tweet-text {
  text-align: left;
  margin-left: 15px;
  padding-bottom: 15px;
  margin-top: 0px;
}
</style>
