<template>
  <div id="app">
    <!-- <nav>
       <router-link to="/">Home</router-link>
       <router-link to="/profile">Profile</router-link>
    </nav> -->
    <img alt="Vue logo" src="./assets/logo.png" class="logo">
    <tweet-input @submit-tweet='addTweet($event)'></tweet-input>
    <tweet-feed :tweets="tweets"></tweet-feed>
    <!-- <router-view></router-view> -->
  </div>
</template>

<script>
import TweetInput from './components/TweetInput.vue'
import TweetFeed from './components/TweetFeed.vue'
import TweetProfile from './components/TweetFeed.vue'

export default {
  name: 'app',
  data: function() {
    return {
      id: 4,
      tweets: [
        {
          id: 1,
          username: 'Relrk123',
          handle: 'kCodyk',
          text: 'Excited to announce the new project'
        },
        {
          id: 2,
          username: 'alsjkQlk',
          handle: 'Milaxxx',
          text: 'Happy birthday to my sister'
        },
        {
          id: 3,
          username: 'alliq01',
          handle: 'Adam1029',
          text: 'Traveling today'
        }
      ]
    }
  },
  methods: {
    addTweet(newTweet) {
      this.tweets.push({
        id: this.id++,
        username: 'sodp121',
        handle: 'Solodopa',
        text: newTweet
      })
    }
  },
  components: {
    TweetInput,
    TweetFeed
  }
}
</script>

<style>
body {
  background: #eee;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.logo {
  width: 34px;
}
</style>
